@font-face {
  font-family: 'RobotoMono';
  src: url('./fonts//RobotoMono-Thin.ttf');
}

* {
  font-family: 'RobotoMono', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FFF;
  background: linear-gradient(to right top, #767d87, #8b94a2, #a1abbd, #b7c3d9, #cfdbf6);
}